*{
	color:#2FFFF9;
	margin:0px;
	font-family:Arial;
	list-style: none;
	text-decoration: none;
}
header{
	background: #2A57E8;
}
header *{
	display: inline-flex;
}

li{
	display: inline-flex;
	padding-right: 100px;
	height:25px;
	padding: 20px
}
li:hover{
	-webkit-transition:background 1s;
	background:#1F2A9C;
}
li *{
	padding-left:10px;
}
article{
	margin:10px;
}
iframe{
	width:100%;
	height: 516.5px;
	border: 0;
}
footer{
	background: #111754;
	padding:10px;
}